doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.heading
            h1.heading__title Reference
            .heading__symbols

        main
            .container
                .row
                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015    

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                    .col-12.col-sm-6.col-md-6.col-lg-4.col-xl-4.references__col
                        a.references-single(href="#")
                            .references-single__img-wrap.post__image-container
                                img.references-single__img.post__featured-image(src=URLbase+"img/thumb-references.jpg" alt="Úprava technologického procesu bělení MONDI Štětí" title="Úprava technologického procesu bělení MONDI Štětí")
                            h5.references-single__title Úprava technologického procesu bělení MONDI Štětí
                            p.references-single__date Realizace: 2015

                nav
                    ul.pagination
                        li.page-item
                            a.page-link(href="#") 1
                        li.page-item.active
                            span.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#") 4


        include _footer.pug

        include _js-include.pug
        