doctype html
include _variables.pug  
html(lang=lang)
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.heading
            h1.heading__title Střediska
            .heading__symbols

        main
            .container
                a.centers-single.post__image-container(href="#")
                    .centers-single__content
                        h3.centers-single__title Středisko technologií
                        p.centers-single__text Středisko technologií realizuje dodávky a montáže jak komplexních technologických celků, tak jejich dílčích částí...
                        .btn.-transparent.centers-single__link Více informací #[span.arrow-icon.white.btn__icon]
                    img.centers-single__img.post__featured-image(src=URLbase+"img/thumb-centers1.jpg" alt="Středisko technologií" title="Středisko technologií")


                a.centers-single.post__image-container(href="#")
                    .centers-single__content
                        h3.centers-single__title Středisko technologií
                        p.centers-single__text Středisko technologií realizuje dodávky a montáže jak komplexních technologických celků, tak jejich dílčích částí...
                        .btn.-transparent.centers-single__link Více informací #[span.arrow-icon.white.btn__icon]
                    img.centers-single__img.post__featured-image(src=URLbase+"img/thumb-centers2.jpg" alt="Středisko technologií" title="Středisko technologií")


        include _footer.pug

        include _js-include.pug
        